<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
   mapper标签:配置各类声明
   namespace：名称空间，由于映射文件可能有多个，为了防止crud语句的唯一标识被重复，需要设置空间名称。
 -->

<mapper namespace="technicolor.travel.mapper.RouteMapper">

    <!--查询人气最高的4个旅游-->
    <select id="queryPopularityRouteList" resultType="Route">
        SELECT * FROM tab_route WHERE rflag= '1'ORDER  BY COUNT DESC limit 0,4
    </select>

    <!--查询最新的4个旅游-->
    <select id="queryNewsRouteList" resultType="Route">
        SELECT * FROM tab_route WHERE rflag='1' ORDER BY rdate DESC limit 0,4
    </select>

    <!--查询4个主题旅游-->
    <select id="queryThemeRouteList" resultType="Route">
        SELECT * FROM tab_route WHERE rflag='1' AND isThemeTour='1'ORDER BY rdate DESC limit 0,4
    </select>


    <!--查询路线记录数-->
    <select id="queryRouteCount" resultType="Integer">
        select count(*) from tab_route where rflag = "1"
        <if test="cid!=null">
            and cid = #{cid}
        </if>
        <if test="rname!=null and rname.trim()!=''">
            and rname like '%' #{rname} '%'
        </if>

    </select>

    <!--查询所有路线数据-->
    <select id="queryRouteListPage" resultType="Route">
        SELECT * FROM tab_route WHERE  rflag="1"
        <if test="cid !=null">
            AND cid=#{cid}
        </if>
        <if test="rname!=null and rname.trim() !='' ">
            AND rname '%'#{rname} '%'
        </if>
        limit #{firstResult},#{pageSize}
    </select>

    <!--查看详情自定义结果集-->
    <resultMap id="routeCategorySellerImgResultMap" type="Route" autoMapping="true">

        <id column="rid" property="rid"></id>
        <!--配置和Category的一对一的关系-->
        <association property="category" javaType="Category" autoMapping="true">
            <id column="cid" property="cid"></id>
        </association>
        <!--配置和Seller的一对一的关系-->
        <association property="seller" javaType="Seller" autoMapping="true">
            <id column="sid" property="sid"></id>
        </association>
        <!--配置和RouteImg的一对多的关系-->
        <collection property="routeImgList" javaType="List" ofType="RouteImg" autoMapping="true">
            <!--配置主键-->
            <id column="rgid" property="rgid"></id>

        </collection>
    </resultMap>

    <!--通过rid查找route-->
    <select id="queryRouteByRid" resultMap="routeCategorySellerImgResultMap">

        SELECT
        *
        FROM
        tab_route r
        INNER JOIN tab_category c ON r.cid = c.cid
        INNER JOIN tab_seller s ON r.sid = s.sid
        INNER JOIN tab_route_img i ON r.rid = i.rid
        WHERE
        r.rid = #{rid}
    </select>

    <!--查询线路收藏数量-->
    <select id="queryRouteFavoriteNum" resultType="Integer">
        SELECT COUNT FROM tab_route WHERE rid=#{rid}
    </select>



</mapper>